@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
html, body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  background: gray;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.atribution {
  font-size: 11px;
  text-align: center;
}

a {
  color: #3e52a3;
  text-decoration: none;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

ul {
  list-style: none;
}

.btn {
  padding: 0;
  border: 0;
  border-radius: 1.5em;
  height: 3em;
  width: 10em !important;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to bottom right, #31d35c, #2bb7da);
  cursor: pointer;
  outline: none;
  text-align: center;
}

.btn:hover {
  opacity: .75;
}

.btn:hover .btn-request {
  color: white;
}

.btn .btn-request {
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: white;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 4.5em;
}

.navbar.container > a {
  margin: auto 0;
}

.navbar.container > ul.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  grid-gap: 1em;
  text-align: center;
  margin-top: 1.5em;
}

.navbar.container > ul.nav li {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.navbar.container > ul.nav li:hover {
  border-bottom: .25em solid;
  border-image-source: linear-gradient(to bottom right, #31d35c, #2bb7da);
  border-image-slice: 1;
}

.navbar.container button.btn.nav-btn {
  margin: auto 0 auto auto;
}

footer {
  background-color: #2d314d;
}

footer > .container {
  min-height: 10em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > .container .social {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer > .container .social .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > .container .social .social-icon li {
  margin: auto 5px 0 5px;
}

footer > .container .social .social-icon li a:hover .d-block {
  display: none;
}

footer > .container .social .social-icon li a:hover .d-none {
  display: block;
}

footer > .container .contact {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer > .container .contact-list-left, footer > .container .contact-list-right {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer > .container .copyright {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1728px) {
  .container {
    padding: 0 10vw;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 767.9px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 4.5em;
  }
  .navbar.container > a {
    margin: auto 0;
  }
  .navbar.container > button.d-none {
    display: block;
    border: 0;
    outline: none;
    background-color: white;
  }
  .navbar.container > button.d-none .toggle-close {
    display: none;
  }
  .navbar.container > button.d-none .toggle-open {
    display: block;
  }
  .navbar.container > ul.nav {
    display: none;
    position: fixed;
    background-color: white;
    min-width: 90vw;
    top: 5.5em;
    left: 5vw;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
    margin: auto;
    padding: auto;
  }
  .navbar.container > ul.nav li {
    margin: .75em auto;
  }
  .navbar.container > ul.nav li:hover {
    border-bottom: .25em solid;
    border-image-source: linear-gradient(to bottom right, #31d35c, #2bb7da);
    border-image-slice: 1;
  }
  .navbar.container > ul.nav li:first-child {
    margin-top: 2em;
  }
  .navbar.container > ul.nav li:last-child {
    margin-bottom: 2em;
  }
  .navbar.container button.btn.nav-btn {
    display: none;
    margin: auto 0 auto auto;
  }
}
